---
layout: home2
title: Blog
---
{% assign all_collections = site.collections | map: 'label' %}  
{% assign collection_configs = site.config.collections | flatten %}  

<h2>所有集合目录</h2>  
<ul class="collection-directory">  
  {% for collection in all_collections %}  
    {% assign docs = site[collection] %}  
    {% if docs %}  
      <li>  
        <h3>{{ collection }}</h3>  
        <ul class="collection-docs">  
          {% for doc in docs %}  
            {% assign path_parts = doc.path | split: '/' | reject: nil %}  
            <li class="doc-item">  
              {% if doc.path contains '/' %}  
                <ul class="subdir">  
                  {% assign current_path = '' %}  
                  {% for part in path_parts %}  
                    {% if part != '' %}  
                      {% assign current_path = current_path | append: '/' | append: part %}  
                      <li>  
                        <span>{{ part }}</span>  
                        {% if docs | where: 'path', current_path | first %}  
                          <ul>  
                            {% for child_doc in docs %}  
                              {% if child_doc.path == current_path %}  
                                <li>  
                                  <a href="{{ site.baseurl }}{{ child_doc.url }}">  
                                    {{ child_doc.title }}  
                                  </a>  
                                </li>  
                              {% endif %}  
                            {% endfor %}  
                          </ul>  
                        {% endif %}  
                      </li>  
                    {% endif %}  
                  {% endfor %}  
                </ul>  
              {% else %}  
                <a href="{{ site.baseurl }}{{ doc.url }}">  
                  {{ doc.title }}  
                </a>  
              {% endif %}  
            </li>  
          {% endfor %}  
        </ul>  
      </li>  
    {% endif %}  
  {% endfor %}  
</ul>
