.carousel {
  @apply overflow-hidden relative;
}

.carousel-item {
  @apply w-full flex-none;
}

@keyframes slide {
  0% { transform: translateX(0); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  100% { transform: translateX(-400%); }
}

.carousel {
  animation: slide 20s infinite;
}
