
{% include head.html %}
<body>
    <!-- 导航栏 -->
    {% include navigation.html %}



    <div class="main-container">
        <!-- 侧边栏 -->
        {% include  sidebar.html %}


        <main class="content">
            {{ content }}
 
        </main>
    </div>

    <script>
        // Toggle sidebar
        const toggleButton = document.querySelector('.toggle-sidebar');
        const sidebar = document.querySelector('.sidebar');
        
        toggleButton.addEventListener('click', () => {
            sidebar.classList.toggle('hidden');
        });

        // Switch sidebar tabs
        const tabs = document.querySelectorAll('.sidebar-tab');
        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                tabs.forEach(t => t.classList.remove('active'));
                tab.classList.add('active');
            });
        });
    </script>
</body>
</html>